<h1><%= t('views.tasks.new.title') %></h1>
<%= form_with model: @task, local: true do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> <%= t('errors.messages.prohibited_this', count: @task.errors.count) %>:</h2>
      <ul>
       <% @task.errors.each do |attribute, message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, t('views.tasks.new.form.title') %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, t('views.tasks.new.form.content') %><br>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit t('views.tasks.new.form.create'), id: 'create-task' %>
  </div>
<% end %>

<%= link_to t('views.tasks.new.form.back'), tasks_path, id: 'back' %>
