<div class="container">
  <h1><%= t('views.tasks.show.title') %></h1>

  <div class="mb-3">
    <strong><%= t('views.tasks.show.attributes.title') %>:</strong>
    <p class="form-control-static"><%= @task.title %></p>
  </div>

  <div class="mb-3">
    <strong><%= t('views.tasks.show.attributes.content') %>:</strong>
    <p class="form-control-static"><%= @task.content %></p>
  </div>

  <div class="mb-3">
    <strong><%= t('views.tasks.show.attributes.created_at') %>:</strong>
    <p class="form-control-static"><%= @task.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
  </div>

  <div class="mb-3">
    <strong><%= t('views.tasks.show.attributes.deadline_on') %>:</strong>
    <p class="form-control-static"><%= @task.deadline_on %></p>
  </div>

  <div class="mb-3">
    <strong><%= t('views.tasks.show.attributes.priority') %>:</strong>
    <p class="form-control-static"><%= I18n.t("tasks.priority.#{@task.priority}") %></p>
  </div>

  <div class="mb-3">
    <strong><%= t('views.tasks.show.attributes.status') %>:</strong>
    <p class="form-control-static"><%= I18n.t("tasks.status.#{@task.status}") %></p>
  </div>

  <div class="mb-3">
    <strong><%= t('views.tasks.show.attributes.labels') %>:</strong>
    <p class="form-control-static"><%= @task.labels.map(&:name).join(' ') %></p>
  </div>

  <div class="mt-4">
    <%= link_to t('views.tasks.index.actions.edit'), edit_task_path(@task), id: 'edit-task', class: 'btn btn-primary' %> |
    <%= link_to t('views.tasks.new.form.back'), tasks_path, id: 'back', class: 'btn btn-secondary' %>
  </div>
</div>
