<div class="container">
  <h1 class="page-title">ラベル登録ページ</h1>

  <% if @label.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@label.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
        <% @label.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @label, local: true, class: "w-50 mx-auto") do |form| %>
    <div class="form-group">
      <%= form.label :name, "名前" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit '登録する', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
