<h1>ユーザ登録ページ</h1>

<%= form_with(model: @user, url: admin_users_path, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "エラー") %>が発生しました:</h2>
      <ul>
         <% @user.errors.each do |attribute, message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "名前" %><br>
    <%= form.text_field :name, id: 'name' %>
  </div>

  <div class="field">
    <%= form.label :email, "メールアドレス" %><br>
    <%= form.text_field :email, type: 'text', id: 'email' %>
  </div>

  <div class="field">
    <%= form.label :password, "パスワード" %><br>
    <%= form.password_field :password, id: 'password' %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "パスワード（確認）" %><br>
    <%= form.password_field :password_confirmation, id: 'password_confirmation' %>
  </div>

  <div class="field">
    <%= form.label :admin, "管理者権限" %><br>
    <%= form.check_box :admin %>
  </div>

  <div class="actions">
    <%= form.submit "登録する", id: 'create-user' %>
  </div>
<% end %>
