<h1>ユーザ詳細ページ</h1>

<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<p>管理者権限: <%= @user.admin? ? 'あり' : 'なし' %></p>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>優先度</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline_on.strftime("%Y/%m/%d") %></td>
        <td><%= I18n.t("enums.priority.#{task.priority}") %></td>
        <td><%= I18n.t("enums.status.#{task.status}") %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '戻る', admin_users_path, id: 'back' %>
