<!DOCTYPE html>
<html>
  <head>
    <title>Task Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>

    <header>
      <nav>
       <ul>
        <li><%= link_to 'Tasks Index', tasks_path, id: 'tasks-index' %></li>
        <li><%= link_to 'New Task', new_task_path, id: 'new-task' %></li>
       </ul>
      </nav>
     </header>

    <%= yield %>
  </body>
</html>
